<footer class="text-center text-white" style="background-color: #333333">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <div class="container">
      <hr class="my-3" />
      <section class="mb-3">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p class="letras">
               
            </p>
          </div>
        </div>
      </section>
      <section class="text-center mb-3">
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram" custom-icon></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f" custom-icon></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter" custom-icon></i>
        </a>
      </section>
    </div>
    <div class="text-center p-2" id="footer">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="dsa">
              <div>
              &copy; 2023 Juan Hernandez - Joaquin Poblete - Todos los derechos reservados - UBB
            </div>
              <div>
              <img src="../../../assets/ubb.png" width="35px">
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="asd">
      <a routerLink="login">¿Eres administrador? haz click aquí</a>
    </section>
  </footer>