<!DOCTYPE html>
<html>
<head>
  <title>Portafolio - Sobre mí</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>

<body>
  <header class="sobremiHeader">
    <h1>Bienvenido a mi Portafolio</h1>
  </header>

  <section class="about-me">
    <h1>Sobre mí</h1>
    <img class="image-container" src="../../../assets/img/perfil.jpg">
    br
    <p>¡Hola! Soy Carlos Martinez y soy Camarografo.
    Hago fotos desde que tengo doce años
    Me apasiona más las fotografias de arquitecuras y disfruto de ellas.
    Profesionalmente, lo hago desde hace cinco años 
    He trabajado en clientes tanto locales como internacionales y he adquirido experiencia en diferentes areas.
    Siempre estoy buscando nuevas oportunidades para aprender y crecer profesionalmente.
    
    Empece hace tres años a especializarme en fotografia de arquitecturas</p>
  </section>

  <!-- Resto del contenido de la página -->

  
</body>
</html>
