<!DOCTYPE html>
<html>
<head>
  <title>Portafolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">


</head>
<body>
  <div class="wrapper">
    <header>
      <h1 class="letra">Bienvenido a mi Portafolio</h1>
    </header>

    <section class="hero">
      <p>Explora mi trabajo y descubre más sobre mí</p>
    </section>

    <div class="content">
      <!-- Resto del contenido de la página -->

    </div>

  </div>
</body>
</html>
